* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  border-radius: 10px;
}

.m-primary {
  margin: 1.5vw 1vw;
}
.m-secondary {
  margin: 0.8vw;
}
.side-margin {
  margin: 0 0.8vw;
}
.top-margin-primary {
  margin-top: 1vw;
}
.top-margin-secondary {
  margin-top: 0.5vw;
}
/* header */

.header {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2vw;
  box-shadow: -2px 0 5px gray;
}
.logo {
  padding: 0;
  width: 8vw;
  margin-top: -12px;
  margin-bottom: -12px;
}
.nav-items {
  width: 60%;
}
.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items li {
  list-style-type: none;
  cursor: pointer;
}
.nav-items button {
  padding: 0.5vw 0.8vw;
  cursor: pointer;
  font-size: 1.2vw;

  border-radius: 5px;
}
.nav-items button:hover {
  background-color: rgb(221, 219, 219);
}
/* Body of the App */
.body {
  width: 100%;
}
/* FILTERS */
.filters {
  display: flex;
}
/* search bar */
.searchBox {
  width: 35%;
}
#searchBar {
  width: 70%;
  height: 2vw;
  padding: 0.5vw 0.8vw;
}

.search-btn {
  width: 20%;
  border: 1px solid black;
  height: 2vw;
  cursor: pointer;
}
.search-btn:hover {
  background-color: rgb(171, 171, 171);
}

/* Restaurant cards */
.res-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9vw;
}
.res-card {
  width: 15%;
  border-radius: 10px;
  padding: 0.5vw;
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.res-card:hover {
  box-shadow: 0 0 5px rgb(49, 49, 49);
  transform: scale(1.02);
}
.res-card-image {
  width: 100%;
  height: 50%;
}
.res-rating {
  display: flex;
  margin: 0.3vw 0;
  text-align: center;
  align-items: center;
}

.cuisine {
  color: rgb(118, 118, 118);
}
.res-description {
  display: flex;
  flex-direction: column;
}
.res-costForTwo {
  position: absolute;
  bottom: 4;
}
/* Shimmer CSS */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.shimmer-card {
  width: 15%;
  height: 20vw;
  padding: 0.5vw;
  border: 1px solid rgb(217, 215, 215);
}

.shimmer-img {
  height: 50%;
  width: 100%;
  margin-bottom: 0.3vw;
  background-color: rgb(217, 215, 215);
}
.shimmer-details {
  width: 6vw;
  height: 0.5vw;
  background-color: rgb(217, 215, 215);
}
.shimmer-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
